<form method="POST">
  <div class="mb-3 mt-5">
    <label for="search-input" class="form-label">Nhap tu khoas</label>
    <input type="text" name="q" class="form-control" id="search-input" >
  </div>
 
  <button type="submit" class="btn btn-primary">Search</button>
</form>